<h2>Messages</h2>
<% if (!messagesList.length) { %>
    <p>No results</p>
<% } else { %>
    <table>
        <thead>
            <tr>
                <th>Content</th>
                <th>Message by:</th>
                <th colspan= "2"> Actions</th>
            </tr>
        </thead>
        <tbody>
            <% messagesList.forEach((message) => { %>
                <tr>
                    <td><%= message.content %></td>
                    <td><%=  %></td>
                    <td><a  href="<%= editMessagePath(message) %>">Edit</a></td>
                    <td>
                        <form action="<%= deleteMessagePath(message) %>" method="POST">
                            <input type="hidden" name="_method" value="delete" />
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>

<a href="<%= newMessagePath %>">New Message</a>