<h2>Reviews</h2>
<% if (!reviewsList.length) { %>
    <p>No results</p>
<% } else { %>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Puntuation</th>
                <th>Review by</th>
                <th colspan= "2"> Actions</th>
            </tr>
        </thead>
        <tbody>
            <% reviewsList.forEach((review) => { %>
                <% user = userList.find(x => x.id == review.creatorId) %>
                <tr>
                    <td><%= review.description %></td>
                    <td><%= review.puntuation %></td>
                    <td><%= user.firstName %> <%= user.lastName %></td>
                    <td><button onclick="window.location.href='<%= editReviewPath(review) %>'">Edit</button></td>
                    <td>
                        <form action="<%= deleteReviewPath(review) %>" method="POST">
                            <input type="hidden" name="_method" value="delete" />
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>
