<h2><%=publication.name%></h2>

<a ><img src="<%= assetPath('Logo.jpg') %>" alt="Logo", height="100" /></a><%= publication.name %></td>
<%= publication.description %>
<%= publication.state %>
<%= publication.type %>